.social-bar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    height: 3rem;
    width: 11rem;
    padding-top: 0.5rem;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.635);
    z-index: 100;
  }
  
  .social-bar a {
    color: var(--color-main);
    font-size: 30px;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .social-bar a:hover {
    color: #007bff;
  }
  